.experiencia {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.experiencia .subtitulo {
  max-width: 5ch;
  font-size: 6rem;
  text-transform: uppercase;
}

.experiencia-texto {
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 40px;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  background-color: #f5f5f5;
  padding: 20px;
  gap: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.empresa-ano {
  position: absolute;
  top: 20px;
  left: -40px;
  font-size: 0.9rem;
}

.empresa-nome {
  font-weight: bold;
  font-size: 1.2rem;
}

.empresa-texto {
  font-size: 0.9rem;
  line-height: 1.2;
}

.empresa-habilidades {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.9rem;
}

.empresa-habilidades li {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}
